package $!{package.Controller};

import com.baomidou.mybatisplus.core.metadata.IPage;
import java.util.List;
import com.jn.common.Condition;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;
import com.jn.common.R;
import $!{package.Entity}.$!{entity};
#set($dto=$package.Entity.replace("entity","dto"))
import $!{dto}.$!{entity}DTO;
import com.jn.utils.*;
import $!{package.Service}.$!{table.serviceName};

/**
 * $!{table.comment} 控制器
 *
 * @author $!{author}
 * @since $!{date}
 * @copyright Copyright© 杭州聚能视界科技有限公司
 */
@RestController
@AllArgsConstructor
@RequestMapping("$!{table.entityPath}")
@Api(tags = "$!{table.comment}相关接口")
public class $!{table.controllerName} {

	private $!{table.serviceName} $!{table.entityPath}Service;

}
