package $!{package.Mapper};

import $!{package.Entity}.$!{entity};
import $!{superMapperClassPackage};

/**
 * $!{table.comment} Mapper 接口
 *
 * @author $!{author}
 * @since $!{date}
 * @copyright Copyright© 杭州聚能视界科技有限公司
 */
#if($!{kotlin})
interface $!{table.mapperName} : $!{superMapperClass}<$!{entity}>
#else
public interface $!{table.mapperName} extends $!{superMapperClass}<$!{entity}> {

}
#end
