<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysUserMapper">

    <update id="updateById" parameterType="com.example.demo.pojo.entity.SysUser">
        update sys_user set name ='wangbadan'

        where id=#{sysUser.id}
    </update>

    <update id="updateByname" parameterType="com.example.demo.pojo.entity.SysUser">
        update sys_user set name ='555'

        where id=#{sysUser.id}
    </update>
</mapper>
