<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestMapper">

    <resultMap id="mappingList" type="com.example.demo.pojo.BusReport">
        <result property="reportInfo" column="report_info" typeHandler="com.example.demo.handler.ReporUserArrayHandler"></result>
    </resultMap>

    <resultMap id="mappingObj" type="com.example.demo.pojo.BusReport">
        <result property="reportInfo" column="report_info" typeHandler="com.example.demo.handler.ReporUserObjHandler"></result>
    </resultMap>

    <select id="getList" resultMap="mappingList">
        select * from sys_user where id=2
    </select>

    <select id="getObj" resultMap="mappingObj">
        select * from sys_user where id=1
    </select>

    <insert id="insertUserInfo" useGeneratedKeys="true" parameterType="com.example.demo.pojo.SysUser">
        insert into sys_user (name,password,sex) values (#{user.name},#{user.password},#{user.sex})
    </insert>



    <select id="getUser" resultType="com.example.demo.pojo.SysUser" >
        select * from sys_user where id= #{id}
    </select>
</mapper>
